:root {
    --wkit-accent-hs: 244, 10%;
    --wkit-on-accent-rgb: 255, 255, 255; /* Text color */
    --wkit-bg-rgb: 239, 241, 245; /* BG when wallet connected */
    --wkit-on-bg-rgb: 28, 29, 37; /* Accent Text color */
    --wkit-font-family: "Inter", sans-serif;
    --wkit-font-family-mono: "IBM Plex Mono", monospace;
    --wkit-font-size-large: 18px;
    --wkit-font-size-medium: 16px;
    --wkit-font-size-small: 14px;
    --wkit-line-height-large: 22px;
    --wkit-line-height-medium: 20px;
    --wkit-line-height-small: 17px;
    --wkit-button-width: 224px;
    --wkit-border-radius: 16px;
}
